### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import pandas as pd
from IPython.display import display
import os

# Loading purchase_data.csv"
file_to_load = "Resources/purchase_data.csv"

# Reading purchase_data.csv and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

### Player Count
* Display the total number of players

In [4]:
data = dict()

# Taking all columns as dictionary
for (columnName, columnData) in purchase_data.iteritems(): 
    data[columnName] = columnData
    
# Creating Pandas data frame for the data
purchase_data_df = pd.DataFrame(data)
names = dict.fromkeys(data["SN"])

# Initializing names as list, to be able to create its data frame and displaying in the form of table
no_of_players = []
no_of_players.append(len(names))

# Creating data frame of the number of players
no_of_players_df = pd.DataFrame(no_of_players,columns=['Player Count'])

# Displaying the number of players in the form of table, using display class from IPython. This comment is applicable throughout the code where there is a display
display(no_of_players_df)

   Player Count
0           576

### Purchasing Analysis (Total)
* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [22]:
# Removing duplicated items so that we can get number of all the items
unique_items = dict.fromkeys(data["Item Name"])
summary = []
no_unique_items = len(unique_items)
summary.append(no_unique_items)

# Calculating 'mean' of the price column
avg_price = round(data['Price'].mean(),2)
summary.append('$'+str(avg_price))

# Calculating 'total purchases'
no_purchases = len(purchase_data)
summary.append(no_purchases)
total_rev = round(sum(data['Price']),2)
summary.append('$'+str(total_rev))

# Creating data frame of the data collected above as per requirements
summary_df = pd.DataFrame([summary],columns=['Number of Unique Items','Average Price','Number of Purchases','Total Revenu'])
display(summary_df)

TypeError: tuple indices must be integers or slices, not str

### Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [21]:
# Removing all the duplicat data with 'spender names'
purchase_data_df_no_duplicate = purchase_data_df.drop_duplicates(subset='SN',keep='first')

# Calculating 'number of all purchases'
total_players = len(purchase_data_df_no_duplicate)

# Calculating 'count of purchases' by gender group, using the 'GroupBy' method
group = purchase_data_df_no_duplicate.groupby('Gender').count()
num_gen = []
per_gen = []
for num in group['Age']:
    num_gen.append(num)
    per_gen.append(str('{:.2f}'.format((num/total_players)*100))+'%')

# Creating data for table, that contains 'counts' and 'percentages'
count_per_1 =  {'Total Count':num_gen,
        'Percentage of Players':per_gen}

# Generating data frame with approach of using row headings
count_per_df_1 = pd.DataFrame(count_per_1, index =['Female', 'Male', 'Other / Non-Disclosed'])
display(count_per_df_1)

                       Total Count Percentage of Players
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

### Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [23]:
# getting count of repetitive/duplicated and non duplicated purchases to be used while getting averages 
pur_cnt_gender = purchase_data_df.groupby('Gender').count()
pur_cnt_gender_nr = purchase_data_df_no_duplicate.groupby('Gender').count()

# Add data with gender groupwise to get total price for each gender total purchase
pur_price_gender = purchase_data_df.groupby('Gender').sum()

pur_cnt = []
avg_r = []
pur_price = []
avg_nr = []
for count,count_nr,price in zip(pur_cnt_gender['Age'],pur_cnt_gender_nr['Age'],pur_price_gender['Price']):
    pur_cnt.append(count)
    avg_r.append('$'+str('{:.2f}'.format(price/count)))
    pur_price.append('$'+str('{:.2f}'.format(price)))
    avg_nr.append('$'+str('{:.2f}'.format(price/count_nr)))
                       

# creating data for table, that contain counts and percentages
count_per_1 =  {'Purchase Count':pur_cnt,
        'Average Purchase Price':avg_r,
        'Total Purchase Value':pur_price,
        'Average Total Purchase per person':avg_nr}

# generating dataframe with approach of using row headings
count_per_df_1 = pd.DataFrame(count_per_1, index =['Female', 'Male', 'Other / Non-Disclosed'])
 
display(count_per_df_1)

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

### Age Demographics
* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table

In [24]:
bins = [0,9,14,19,24,29,34,39,100]
group_names = ['<10','10 - 14','15 - 19','20 - 24','25 - 29','30 - 34','35 - 39','>40']

# getting the age gorups using bin 'the cut method'
age_cut = pd.cut(purchase_data_df_no_duplicate['Age'],bins, labels = group_names,include_lowest = True)
# getting count of all the bins
age_cut_remove = pd.DataFrame(age_cut).pivot_table(index=['Age'], aggfunc='size')

cnts = []
pers = []
for j in age_cut_remove:
    cnts.append(j)
    pers.append(str('{:.2f}'.format(round(100*j/total,2)))+'%')

age_analysis =  {'Total Count':cnts,
        'Percentage of Players':pers}

age_analysis_df = pd.DataFrame(age_analysis, index =group_names)

display(age_analysis_df)

NameError: name 'total' is not defined

### Purchasing Analysis (Age)
* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [25]:
bins = [0,9,14,19,24,29,34,39,100]
group_names = ['<10','10 - 14','15 - 19','20 - 24','25 - 29','30 - 34','35 - 39','>40']
data_copy = purchase_data_df.copy()

# Addinf a new field of age group with data frame so that we can use it later to get the sum of all the purchases by particular age groups
data_copy['age_groups'] = pd.cut(data_copy['Age'],bins, labels = group_names,include_lowest = True)
# grouping with respect to new column added in last command, and getting sum of values to that we get the total spent price by an age group
price_group = data_copy.groupby('age_groups').sum()

# getting age groups and then count them to get the number of purchases per age group
New = pd.cut(purchase_data_df['Age'],bins, labels = group_names,include_lowest = True)
count_group = pd.DataFrame(New).pivot_table(index=['Age'], aggfunc='size')

cnts_r = []
avg_r = []
total_price = []
avg_nr = []

for count_r,count_nr,price in zip(count_group,age_cut_remove,price_group['Price']):
    cnts_r.append(count_r)
    avg_r.append('$'+str('{:.2f}'.format(price/count_r)))
    total_price.append('$'+str('{:.2f}'.format(price)))
    avg_nr.append('$'+str('{:.2f}'.format(price/count_nr)))

pur_age_analysis =  {'Purchase Count':cnts_r,
        'Average Purchase Price':avg_r,
        'Total Purchase Value':total_price,
        'Average Total Purchase per person':avg_nr}

pur_age_analysis_df = pd.DataFrame(pur_age_analysis, index =group_names) 

display(pur_age_analysis_df)

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per person
<10,23,$3.35,$77.13,$4.54
10 - 14,28,$2.96,$82.78,$3.76
15 - 19,136,$3.04,$412.89,$3.86
20 - 24,365,$3.05,$1114.06,$4.32
25 - 29,101,$2.90,$293.00,$3.81
30 - 34,73,$2.93,$214.00,$4.12
35 - 39,41,$3.60,$147.67,$4.76
>40,13,$2.94,$38.24,$3.19

### Top Spenders
* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [26]:
names_dict = dict()

# adding data as dictionary which we will use to add the price and count in next loop
for name,price in zip(purchase_data_df_no_duplicate['SN'],purchase_data_df_no_duplicate['Price']):
    names_dict[name] = [0,0]
# getting no.of purchases by the all the spenders and there purchase prices and store them against there names in the dictionary
for name,price in zip(purchase_data_df['SN'],purchase_data_df['Price']):
    names_dict[name][0] = names_dict[name][0]+1
    names_dict[name][1] = names_dict[name][1]+price

# sort the dictionary with respect to total purchase price
names_dict_sorted = sorted(names_dict.items(), key=lambda item: item[1][1])

pur_cnt = []
pur_price = []
avg_pur_price = []
top_names = []
j = 0
# getting first 5 of them in reverse order as we need to show data in assending order and store them in there particular lists
for data in reversed(names_dict_sorted):
    pur_cnt.append(data[1][0])
    pur_price.append('$'+str('{:.2f}'.format(data[1][1])))
    avg_pur_price.append('$'+str('{:.2f}'.format(data[1][1]/data[1][0])))
    top_names.append(data[0])
    j+=1
    if j == 5:
        break

top_spen_analysis =  {'Purchase Count':pur_cnt,
        'Average Purchase Price':avg_pur_price,
        'Total Purchase Value':pur_price}

top_spen_analysis_df = pd.DataFrame(top_spen_analysis, index =top_names) 

display(top_spen_analysis_df)

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

### Most Popular Items
* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [27]:
# filter out the duplicated items
purchase_data_df_no_itemduplicate = purchase_data_df.drop_duplicates(subset='Item ID',keep='first')

all_items = dict()

# get item id, its name and price and store them in a dictionary formate so that we can add its total price and count in next loop
for item,name,price in zip(purchase_data_df_no_itemduplicate['Item ID'],purchase_data_df_no_itemduplicate['Item Name'],purchase_data_df_no_itemduplicate['Price']):
    all_items[item] = [name,price,0,0]
# adding no.of purchases of a single item and its price to get total sale of the particular items
for item,price in zip(purchase_data_df['Item ID'],purchase_data_df['Price']):
    all_items[item][2] = all_items[item][2]+1
    all_items[item][3] = all_items[item][3]+price

# sort the items by its purchase count
item_sorted = sorted(all_items.items(), key=lambda item: item[1][2])

item_names = []
item_rate = []

item_cnt = []
item_price = []
#avg_item_price = []
top_items_id = []
j = 0
# get top 5 items with respect to its total no.of sales
for data in reversed(item_sorted):
    item_names.append(data[1][0])
    item_rate.append('$'+str('{:.2f}'.format(data[1][1])))
    item_cnt.append(data[1][2])
    item_price.append('$'+str('{:.2f}'.format(data[1][3])))
    #avg_item_price.append(round(data[1][1]/data[1][0],2))
    top_items_id.append(data[0])
    j+=1
    #print(data)
    if j == 5:
        break

top_item_analysis =  {'Item Name':item_names,
        'Purchase Count':item_cnt,
        'Item Price':item_rate,
        'Total Purchase Value':item_price}

top_item_analysis_df = pd.DataFrame(top_item_analysis, index =top_items_id) 

display(top_item_analysis_df)

,Item Name,Purchase Count,Item Price,Total Purchase Value
92,Final Critic,13,$4.88,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.19,$28.99
82,Nirvana,9,$4.90,$44.10

### Most Profitable Items
* Sort the above table by total purchase value in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the data frame

In [29]:
# get items sorted with respect to the total purchase price
item_sorted = sorted(all_items.items(), key=lambda item: item[1][3])

item_names = []
item_rate = []

item_cnt = []
item_price = []
#avg_item_price = []
top_items_id = []
j = 0
# getting first 5 items in assending order
for data in reversed(item_sorted):
    item_names.append(data[1][0])
    item_rate.append('$'+str('{:.2f}'.format(data[1][1])))
    item_cnt.append(data[1][2])
    item_price.append('$'+str('{:.2f}'.format(data[1][3])))
    #avg_item_price.append(round(data[1][1]/data[1][0],2))
    top_items_id.append(data[0])
    j+=1
    #print(data)
    if j == 5:
        break

top_item_analysis_dec =  {'Item Name':item_names,
        'Purchase Count':item_cnt,
        'Item Price':item_rate,
        'Total Purchase Value':item_price}

top_item_analysis_dec_df = pd.DataFrame(top_item_analysis_dec, index =top_items_id) 

display(top_item_analysis_dec_df)

,Item Name,Purchase Count,Item Price,Total Purchase Value
92,Final Critic,13,$4.88,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80